# This is an STM32F4 custom board with a single STM32F407VET6 chip.

source [find interface/jlink.cfg]

transport select swd

# increase working area to 64KB
set WORKAREASIZE 0x10000

source [find target/stm32f4x.cfg]

;reset_config srst_only
